.main-body
{
background: #8E0E00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 100vh;

}

.todolistmain{
  background-color:blanchedalmond;
  width:500px;
  height: 750px;
  border-radius: 8px;
}


.todo-task-input-div{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap:10px;
  padding: 10px;

}

#add-button{
  width: 50px; 
  height: 50px;
  border-radius: 20%;
}
.task-list{
  width:95%;
  margin: auto;
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.task-list li{
  margin: 0px;
}

.task-button{
  display: flex;
  column-gap: 10px;
}
.Buttons{
  display: flex;
  flex-direction: row;
  column-gap: 10px;

}